<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}" />
<meta name="robots" content="noodp" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "title" . }}
    <title>
        {{ if .IsHome }}
        {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }} {{ end }}
        {{ else }}
            {{ .Title }} | {{ $.Site.Title }}
        {{ end }}
    </title>
{{ end }}

<!-- CSS -->
    {{ $style := resources.Get "/custom.css" | minify | fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ range $val := $.Site.Params.customCSS }}
    {{ if gt (len $val) 0 }}
        <link rel="stylesheet" type="text/css" href="{{ $val }}">
    {{ end }}
{{ end }}

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#ff0000">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ if isset .Site.Taxonomies "series" }}
    {{ template "_internal/opengraph.html" . }}
{{ end }}

{{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
{{ end }}

<!-- Optimize-->
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
<link rel="preload" as="font" href="../fonts/geomanist-bold-webfont.woff2" crossorigin>
<link rel="preload" as="font" href="../fonts/geomanist-regular-webfont.woff2" crossorigin>
<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
<link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
    type="application/json" title="{{ .Site.Title }}" />
{{ end }}

<!-- Custom head tags -->
{{- if templates.Exists "partials/extra-head.html" -}}
    {{ partial "extra-head.html" . }}
{{- end }}
